.customVbox
{
    gap : 5px;
    font-size: 15px ;
}
.vencode
{
    font-weight: bold;
}
.pono
{
    font-weight: bold;
}
#vencomplaint\:\:vendor_poheadersObjectPage--fe\:\:CustomSubSection\:\:Attachement-innerGrid{
    height: 300px !important;
    overflow: scroll !important; 
}
#vencomplaint\:\:vendor_poheadersObjectPage--fe\:\:FooterBar\:\:CustomAction\:\:Sumbit-inner{
    color: white;
    background-color: mediumseagreen;
    filter: drop-shadow(2px 4px 6px black);
}

#vencomplaint\:\:vendor_poheadersObjectPage--fe\:\:FooterBar\:\:CustomAction\:\:cancel-inner{
    color: white;
    background-color: orangered;
    filter: drop-shadow(2px 4px 6px black);
}
.Panbox
{
    padding-left: 23px;
   
}
.revhbox1
{
    gap : 33%;
    width: 100%;
}
.revhbox2
{
    gap : 33%;
    width: 100%;
}
.revermainvbox
{
    gap : 10px;
    width: 100%;
}